<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>URL Shortener</h1>
  <form action="/shorten" method="post">
    <input type="text" name="url" placeholder="Enter URL">
    <button type="submit">Shorten</button>
  </form>

  <h2>Recent URLs:</h2>
  <h2>Recent URLs:</h2>
  <table>
    <thead>
      <tr>
        <th>Number</th>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>Action</th> <!-- New column for delete button -->
      </tr>
    </thead>
    <tbody>
      <% for (let i = 0; i < urls.length; i++) { %>
        <tr>
          <td><%= i + 1 %></td>
          <td><a href="<%= urls[i].originalUrl %>"><%= urls[i].originalUrl %></a></td>
          <td><a href="<%= urls[i].shortCode %>"><%= urls[i].shortCode %></a></td>
          <td>
            <form action="/delete/<%= urls[i]._id %>" method="post">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
  
</body>
</html>
