<!DOCTYPE html>
<html>

<head>
  <title>URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="stylesheet" href="test.css">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <section class="hero-sec">
    <div class="heading-col">
      <h1 class="heading-text">No Bullsh*t<br><span class="heading-text-pro">Only Short Links</span></h1>
    </div>
    <div class="input-col">
      <form action="/shorten" method="post">
        <input class="input-box" type="text" name="url" placeholder="Enter URL">
        <button class="short-btn" type="submit"><span class="btn-text">Short Links</span><i
            class="fa-solid fa-greater-than fa-xl"></i></button>
      </form>
    </div>
  </section>
  <section class="data-section">
    <table class="data-table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Original URL</th>
          <th>Short URL</th>
          <th>Action</th> <!-- New column for delete button -->
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i < urls.length; i++) { %>
          <tr>
            <td>
              <%= i + 1 %>
            </td>
            <td><a href="<%= urls[i].originalUrl %>">
                <%= urls[i].originalUrl %>
              </a></td>
            <td><a href="<%= urls[i].shortCode %>">
                <%= urls[i].shortCode %>
              </a></td>
            <td>
              <form action="/delete/<%= urls[i]._id %>" method="post">
                <button type="submit"><i class="fa-solid fa-trash"></i></button>
                <button type="button" class="copy-button" data-url="<%= urls[i].shortCode %>"><i class="fa-solid fa-copy"></i></button>
              </form>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </section>

  <script>
    const copyButtons = document.querySelectorAll('.copy-button');
  
    copyButtons.forEach(button => {
      button.addEventListener('click', () => {
        const shortUrl = button.getAttribute('data-url');
        copyToClipboard(shortUrl);
      });
    });
  
    function copyToClipboard(text) {
      const textarea = document.createElement('textarea');
      textarea.value = text;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand('copy');
      document.body.removeChild(textarea);
      alert('Short URL copied to clipboard: ' + text);
    }
  </script>
</body>

</html>